extends layout 
block content
    if user
        h1 Welcome back, #{user.username}
        a(href="/log-out") Log out 
    else
        a(href="/sign") Create a new account
        a(href="/log") Or log in
