extends layout 
block content
    if currentUser
        h1 Welcome back, #{currentUser.username}
        a(href="/log-out") Log out 
    else
        a(href="/sign") Create a new account
        a(href="/log") Or log in
