extends layout
block content
    form(action="" method="POST")
        .ipt-wrap
            label(for="title") Title:
            input#title(type="text" name="title" required)
            br
            label(for="content") Write a message:
            textarea#content(name="content" cols="30" rows="10" required)  
            br
        button(type="submit") Submit